@{
    ViewData["Title"] = "List Product";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">List Product</h1>
    <div class="list-product">
        <div class="product-item">
            <div class="image">
                <img class="img-fluid" src="favicon.ico"/>
            </div>
            <div class="name">
                IPHONE 17
            </div>
            <div class="price">
                99.99$
            </div>
            <div class="description">
                lorem
            </div>
        </div>
    </div>
</div>